*.objdump
*.readelf
*.s

# -fdump-tree-all -fdump-rtl-all -fdump-class-hierarchy
*.alias
*.alignments
*.asmcons
*.barriers
*.bbro
*.bswap
*.ccp1
*.ccp2
*.ccp3
*.cdce
*.cddce1
*.cddce2
*.ce1
*.ce2
*.ce3
*.cfg
*.ch
*.class
*.combine
*.compgotos
*.copyprop1
*.copyprop2
*.copyprop3
*.copyprop4
*.copyprop5
*.copyrename1
*.copyrename2
*.copyrename3
*.copyrename4
*.cplxlower0
*.cplxlower1
*.cprop1
*.cprop2
*.cprop3
*.cprop_hardreg
*.crited1
*.csa
*.cse_local
*.cse1
*.cse2
*.cselim
*.cunroll
*.cunrolli
*.dce1
*.dce2
*.dceloop1
*.dceloop3
*.dfinish
*.dfinit
*.dom1
*.dom2
*.dse1
*.dse2
*.dwarf2
*.ealias
*.early_optimizations
*.eh
*.eh_ranges
*.ehcleanup2
*.ehdisp
*.ehopt
*.einline
*.eipa_sra
*.esra
*.expand
*.fab1
*.final
*.fnsplit
*.forwprop1
*.forwprop2
*.forwprop3
*.forwprop4
*.fre1
*.fre2
*.fwprop1
*.fwprop2
*.gcse2
*.gimple
*.gkd
*.ifcombine
*.ifcvt
*.init-regs
*.inline_param1
*.inline_param2
*.into_cfglayout
*.ira
*.ivcanon
*.ivopts
*.jump
*.jump2
*.ldist
*.lim1
*.lim3
*.local-pure-const1
*.local-pure-const2
*.loop
*.loop2
*.loop2_done
*.loop2_init
*.loop2_invariant
*.loop2_unswitch
*.loopdone
*.loopinit
*.lower
*.mach
*.mergephi1
*.mergephi2
*.mode_sw
*.nothrow
*.nrv
*.objsz1
*.omplower
*.optimized
*.original
*.outof_cfglayout
*.pcom
*.peephole2
*.phicprop1
*.phicprop2
*.phiopt1
*.phiopt2
*.phiopt3
*.phiprop
*.postreload
*.pre
*.pro_and_epilogue
*.profile_estimate
*.reassoc1
*.reassoc2
*.ree
*.reginfo
*.regmove
*.release_ssa
*.reload
*.resx
*.retslot
*.rtl_dce
*.sccp
*.sched2
*.shorten
*.sincos
*.sink
*.slp
*.slsr
*.split1
*.split2
*.split4
*.sra
*.ssa
*.stack
*.statistics
*.strlen
*.subreg1
*.subreg2
*.switchconv
*.tailc
*.tailr1
*.tailr2
*.tu
*.ud_dce
*.uncprop1
*.uninit1
*.unswitch
*.vartrack
*.veclower
*.veclower21
*.vect
*.vregs
*.vrp1
*.vrp2
*.widening_mul
